body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #333;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.hero {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
}

.hero img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.hero h1 {
    margin-top: 0;
    margin-bottom: 10px;
}

.hero p {
    font-size: 18px;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
}

footer {
    background-color: #333;
    padding: 10px;
    text-align: center;
}
footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer ul li {
    display: inline;
    margin-right: 10px;
}

footer ul li a {
    color: white;
    text-decoration: none;
}

footer ul li a img {
    width: 30px;
    height: 30px;
}